<section id="section-1">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row custom-card gap-lg-5">
      <div class="content-wrapper order-lg-2 flex-shrink-1">
        <h5 class="fw-bold">About Us</h5>
        <p class="text-muted mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          fugit accusamus unde laboriosam ex corporis fugiat odit iusto quaerat.
          Error incidunt a corrupti ut est vitae at, amet unde odio.
        </p>
      </div>
      <div class="image-container order-1 flex-shrink-0"></div>
    </div>
  </div>
</section>

<section id="section-2">
  <div class="container">
    <h2 class="fw-bold">Our Mission</h2>
    <p class="text-muted mt-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero laborum
      autem ex iure sapiente? Consequatur nihil placeat excepturi accusamus
      nemo, consectetur fugit distinctio. Doloribus non laboriosam amet facere
      voluptatem itaque.
    </p>
  </div>
</section>

<section id="section-3">
  <div class="container">
    <h2 class="fw-bold">Our Vision</h2>
    <p class="text-muted mt-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero laborum
      autem ex iure sapiente? Consequatur nihil placeat excepturi accusamus
      nemo, consectetur fugit distinctio. Doloribus non laboriosam amet facere
      voluptatem itaque.
    </p>
  </div>
</section>

<!-- <p class="fw-bold sub-heading">Contact</p>
          <div class="d-flex gap-3 align-items-center mb-4">
            <img
              src="assets/icons/whatsapp.png"
              alt="whatsapp icon"
              style="width: 32px"
            />
            <span>+234 0903 3040 309</span>
          </div>
          <div class="d-flex gap-3 align-items-center mt-3 mb-4">
            <img
              src="assets/icons/gmail.png"
              alt="whatsapp icon"
              style="width: 32px"
            />
            <span>johndoe@gmail.com</span>
          </div> -->
