// Section 1
#section-1 {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.image-container {
  height: 300px;
  // background-color: #80808054;
  max-width: 460px;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

p.about {
  font-weight: var(--fw-mid);
}

p {
  line-height: 1.9;
  font-size: 0.9rem;
}

@media (min-width: 425px) {
  p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .image-container {
    height: 450px;
  }
}

// Section 2

#section-2 {
  padding-block: 5rem;
}

// Section 2

#section-3 {
  padding-bottom: 2rem;
}
