<section id="section-1">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row custom-card gap-4 gap-lg-5">
      <div class="content-wrapper order-lg-2 flex-shrink-1">
        <h5 class="fw-bold">About Us</h5>
        <p class="text-muted mt-4">
          I am Adebayo Samuel Adeyemi. I am an entrepreneur, an IT professional,
          and a digital marketer. Kool Greenlife was birthed due to a challenge
          I faced when I had to slaughter and froze some of the livestocks I
          rare. There are very few people in this business, and freezing those
          livestock was supper expensive due to poor power supply, and this
          cooling system had to run on generating set, also whenever I see heeps
          of wasted fruits and vegetables been carted away in our major markets
          due to lack of preservative measures it saddens my heart. This is the
          reason I created the idea of <b>Kool Greenlife</b> by cutting wastage,
          using clean energy, and promoting greenlivelihood.
        </p>
      </div>
      <div class="image-container order-1 flex-shrink-0 mx-md-auto mx-lg-0">
        <img src="assets/img/img-14.jpg" />
      </div>
    </div>
  </div>
</section>

<section id="section-2">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row gap-5">
      <div>
        <h2 class="fw-bold">Our Mission</h2>
        <p class="text-muted mt-4">
          To increase access to cooling technology and decrease wastage of farm
          produce to the bearest minimum.
        </p>
      </div>

      <div>
        <h2 class="fw-bold">Our Vision</h2>
        <p class="text-muted mt-4">
          To be a game changer in the cooling industry and to be a leading brand
          in cooling technology
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section id="section-3">
  <div class="container">
    
  </div>
</section> -->
