nav {
  background-color: #434343;
}

.navbar-brand {
  font-family: "Dancing Script";

  span {
    color: #77ff77;
    font-family: "Dancing Script";
  }
}

.nav-link {
  font-size: 0.9rem;
}

.nav-link.active {
  font-weight: var(--fw-bolder);
}

@media (min-width: 992px) {
  .nav-link.active {
    position: relative;
    font-weight: var(--fw-mid);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: white;
      margin-left: 0.6rem;
    }
  }
}
