<section class="position-relative" id="section-1">
  <div class="container">
    <h1 class="fw-bold text-center custom-heading-1">
      This is your Primary Heading
    </h1>
    <p class="text-center hero-text mb-0 mt-4">
      Add some more descriptive content here to describe your product or service
      in a more detailed way. This could also be an explanation of the details
      of your offer if you are running a promotion.
    </p>
  </div>
</section>

<section id="section-2"></section>
<section id="section-3">
  <div class="container">
    <h2 class="text-center sub-heading">Why Our Work Matter</h2>
    <p class="text-center mt-4 text-muted sub-text">
      Add some more descriptive content here to describe your product or
      service. What your offer is and how you can improve your potential
      customers daily experience. Keep it short and sweet.
    </p>
  </div>
</section>

<section id="section-4">
  <div class="container">
    <h3 class="text-center custom-heading-3">Our Solution</h3>

    <div class="d-flex flex-column flex-lg-row gap-lg-5 custom-card">
      <div class="image-container">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/img-2.jpg" alt="motocycle" />
            </div>
            <div class="carousel-item">
              <img src="assets/img/img-3.jpg" alt="motocycle" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="content-wrapper mt-4">
        <p class="text-muted category mb-3">Category</p>
        <h5 class="mb-3 custom-heading-5">Key Benefits</h5>
        <p class="text-muted">
          What does your company offer that will improve or solve a problem?
          Explain the pain point being alleviated.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="section-5">
  <div class="container">
    <h1 class="text-center fw-bold custom-heading-2">
      A closing reminder of your offer.
    </h1>
    <p class="text-muted text-center mt-4 mb-0 custom-text-2">
      A very clear closing argument statement of your offer.This is your last
      shot at converting someone. Make it good. (But not too pushy.)
    </p>
  </div>
</section>
