<section class="position-relative">
  <div class="container text-white">
    <h1 class="fw-bold text-center hero-heading">
      This is your Primary Heading
    </h1>
    <p class="text-center hero-text mb-0 mt-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ad
      minima autem amet, ullam neque, voluptas alias quisquam ratione nostrum
      animi est non ab dolores nesciunt odit, rerum doloremque culpa?
    </p>
    <div class="d-flex justify-content-center arrow-down-wrapper mt-5 pt-4">
      <svg
        width="24"
        height="24"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"
        />
      </svg>
    </div>
  </div>
</section>
