<section class="position-relative" id="section-1">
  <div class="container">
    <h1 class="fw-bold text-center hero-heading">
      This is your Primary Heading
    </h1>
    <p class="text-center hero-text mb-0 mt-4">
      Add some more descriptive content here to describe your product or service
      in a more detailed way. This could also be an explanation of the details
      of your offer if you are running a promotion.
    </p>
    <!-- <div class="d-flex justify-content-center arrow-down-wrapper mt-5 pt-4">
      <a href="#section-2">
        <svg
          width="24"
          height="24"
          fill="#fffffff2"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
          <path
            d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"
          />
        </svg>
      </a>
    </div> -->
  </div>
</section>

<section id="section-2"></section>
<section id="section-3">
  <div class="container">
    <h2 class="text-center sub-heading">Why Our Work Matter</h2>
    <p class="text-center mt-4 text-muted sub-text">
      Add some more descriptive content here to describe your product or
      service. What your offer is and how you can improve your potential
      customers daily experience. Keep it short and sweet.
    </p>
  </div>
</section>

<section id="section-4">
  <div class="container">
    <h3 class="text-center custom-heading-3">Solutions</h3>

    <div class="d-flex flex-column flex-lg-row gap-lg-5 custom-card">
      <div class="image-container"></div>
      <div class="content-wrapper mt-4">
        <p class="text-muted category mb-3">Category</p>
        <h5 class="mb-3">Key Benefits</h5>
        <p class="text-muted">
          What does your company offer that will improve or solve a problem?
          Explain the pain point being alleviated.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="section-5">
  <div class="container">
    <h1 class="text-center fw-bold custom-heading-2">
      A closing reminder of your offer.
    </h1>
    <p class="text-muted text-center mt-4 mb-0 custom-text-2">
      A very clear closing argument statement of your offer.This is your last
      shot at converting someone. Make it good. (But not too pushy.)
    </p>
  </div>
</section>
